* {
  text-align:center;
  font-family: Helvetica;
}

#mainheader {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-repeat: no-repeat;
}

#mainheader a {
  font-size: 18px;
  color: white;
  display: block;
  padding:5px;
  font-weight: bold;
}

#description h3 {
  font-size: 32px;
  font-weight: bold;
}

#footerheader {
  background-image: url("../images/the-flatiron-building.png");
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#footer {
  background-color: dimgray;
}

#footer p {
  text-align: left;
  font-size: 11px;
  color: white;
}

#footer a {
  color: white;
}
